<div class="entry">
  {{ with .Params.image }}<a href="{{ $.RelPermalink }}"><img class="thumb" src="{{ . | relURL }}" alt=""></a>{{ end }}
  <div>
    <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ if .IsSection }}<span class="status">[{{ len .RegularPagesRecursive }} {{ cond (eq (len .RegularPagesRecursive) 1) "post" "posts" }}]</span>{{ end }}
    {{ with .Params.status }}<span class="status">[{{ . }}]</span>{{ end }}
    <div class="entry-meta">{{ .Date.Format "Jan 2, 2006" }}{{ with .Params.tags }} &middot; {{ delimit . ", " }}{{ end }}</div>
    <div class="entry-desc">{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 140 }}{{ end }}</div>
  </div>
</div>
