<div id="sidebar">
  <div class="box">
    <div class="boxhead">About Me</div>
    <div class="boxbody small">
      <b>{{ site.Params.name }}</b><br>
      {{ site.Params.tagline }}<br><br>
      <a href="{{ "resume/" | relURL }}">View my resume &raquo;</a>
    </div>
  </div>
  <div class="box">
    <div class="boxhead">Find Me</div>
    <div class="boxbody small">
      <ul class="plain">
        {{ with site.Params.github }}<li><a href="{{ . }}">GitHub</a></li>{{ end }}
        {{ with site.Params.linkedin }}<li><a href="{{ . }}">LinkedIn</a></li>{{ end }}
        {{ with site.Params.email }}<li><a href="mailto:{{ . }}">Email</a></li>{{ end }}
        {{ with site.Params.discord }}<li>Discord: {{ . }}</li>{{ end }}
        <li><a href="{{ "contact/" | relURL }}">Contact page</a></li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div class="boxhead">Sections</div>
    <div class="boxbody small">
      <ul class="plain">
        {{ range slice "blog" "projects" "hobbies" }}{{ with site.GetPage (printf "/%s" .) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ len .RegularPagesRecursive }})</li>
        {{ end }}{{ end }}
      </ul>
    </div>
  </div>
</div>
